.homePicture {
    background-image: url('/pictures/site/homePicture.jpg');
    /* background-image: url('/public/pictures/site/homePicture.jpg'); */
    /* background-color: red; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh; */
}

.PromotePicture {
    width: 100%;
    max-height: 600px;
}

.portraitPicture {
    width: 50px;
    height: 50px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.card>img {
    height: 200px;
    border-radius: 10px;
}

/* iframe {
    width: 400px;
    height: 200px;
    border-radius: 10px;
} */