.homePicture {
    background-image: linear-gradient(rgba(253, 253, 253, 0.096), rgba(243, 234, 234, 0.747)), url(/pictures/site/homePicture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 80vh;
}

#menu {
    padding-right: 120px;
}

.bi-arrow-down-circle-fill {
    position: absolute;
    right: 3%;
    bottom: 10%;
    font-size: 2rem;
}

.arrowUp {
    position: relative;
}

.bi-arrow-up-circle-fill {
    position: absolute;
    right: 0.5%;
    bottom: 0;
    font-size: 2rem;
}

.slogan {
    height: 120vh;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #593196;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.PromotePicture {
    width: 100%;
    max-height: 600px;
}

.portraitPicture {
    width: 50px;
    height: 50px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.card>img {
    height: 200px;
    border-radius: 10px;
}