img {
    width: 350px;
    height: 150px;
    border-radius: 10px;
}

.PromotePicture {
    width: 800px;
    height: 300px;
}

.portraitPicture {
    width: 150px;
    height: 150px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}