{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{title}}</h1>

	<section class="trick">
		<article>
			<h2>{{ trick.name}}</h2>
			<div class="content">
				<img src="http://placehold.it/350X150 " alt="image du trick">
				<p>{{ trick.description }}</p>
				<a href="{{path('home')}}" class="btn btn-primary">Retourner à l'accueil</a>
			</div>
		</article>
	</section>
{% endblock %}
