<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Snowtricks !
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid" id="menu">
				<a class="navbar-brand" href="/">Snowtricks</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>		

				<ul class="navbar-nav justify-content-end collapse navbar-collapse" id="navbarColor01">
					<li class="nav-item">
						<a class="nav-link active" href="/">Accueil
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trick</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/#tricks">Voir les tricks</a>
							{% if app.user %}
								<a class="dropdown-item" href="/trick">Administrer ses tricks</a>
								<a class="dropdown-item" href="/trick/new">Créer un trick</a>
							{% endif %}
						</div>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion</a>
						<div class="dropdown-menu">
							{% if not app.user %}
								<a class="dropdown-item" href="/login">Se connecter</a>
								<a class="dropdown-item" href="/register">Creer son compte</a>
							{% else %}
								<a class="dropdown-item" href="/user/{{ app.user.id }}/edit">Modifier son compte</a>
							{% endif %}
							<a class="dropdown-item" href="/reset-password">Réinitialiser son compte</a>
							{% if is_granted('ROLE_USER') %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/user/{{ app.user.id }}">Mon Dashboard</a>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/admin">Dashboard Snowtricks</a>
							{% endif %}
						</div>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="/logout">Se déconnecter</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			{% block body %}{% endblock %}
		</div>
		<footer class="bg-light text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2021 Copyright:
				<a class="text-dark" target="_blank" href="https://re.linkedin.com/in/nicolas-tchenio">NICOLAS TCHENIO</a>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>