<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer ce trick?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">	
	<button class="btn btn-danger btn-sm bi bi-trash"></button>
	{# <button class="btn btn-danger btn-sm">Supprimer le trick</button> #}
</form>
