{% extends 'base.html.twig' %}

{% block title %}New Trick
{% endblock %}

{% block body %}
	<h1>Création d'un nouveau Trick</h1>

	{{ include('trick/_form.html.twig') }}

	<a href="{{ path('trick_index') }}">back to list</a>
{% endblock %}
