{% extends 'base.html.twig' %}

{% block title %} New Trick {% endblock %}

{% block body %}
	<h1>Création d'un nouveau Trick</h1>
	
	{% if app.user %}
		{{ include('trick/_form.html.twig') }}
		<div>
			<a href="{{ path('trick_index') }}" class="btn btn-success btn-sm">Retourner à l'administration des tricks</a>
		</div>
	{% else %}
			<p>Pour accéder a cette page et <strong>creer</strong> un trick vous devez être identifier.</p>
			<p>Si vous avez déjà un compte utilisateur sur notre site alors
				<a href="{{path('app_login')}}">identifiez vous</a>
				sinon
				<a href="{{path('app_register')}}">creer un compte</a>
				dés maintenant.
			</p>
	{% endif %}
{% endblock %}
